@CHARSET "UTF-8";

ul {
	list-style: none outside none;
	padding-left: 0;
}

.jqlg-container {
	position: relative;
	display: block;
	max-width: 100%;
	width: 90%;
	padding: 0px 50px;
	margin: 0px auto;
}

.jqlg-copyright {
	position: relative;
	display: block;
	max-width: 100%;
	width: 90%;
	padding: 0px 50px;
	margin: 0px auto;
	clear: both;
}

.jqlg-albumtitle {
	position: relative;
	display: block;
	max-width: 100%;
	width: 90%;
	padding: 0em 2em;
        font-size: 1.5em;
	margin: 0px auto;
	clear: both;
}

/*Adding tooltips cf. http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_js_tooltip_css&stacked=h*/
/* Tooltip */
.jqlg_link +.tooltip>.tooltip-inner {
	background-color: #8AC007;
	color: #FFFFFF;
	border: 1px solid green;
	padding: 15px;
	font-size: 20px;
}

/* Tooltip on right */
.jqlg_link +.tooltip.right>.tooltip-arrow {
	border-right: 5px solid black;
}
/* ---- grid-item ---- see http://codepen.io/desandro/pen/bdgRzg*/

/* force scrollbar */


.grid {
  /*background: #DDD;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer{
    width:25%;
}
.grid-item {
  width: 24.5%;
  padding-left: 0.5%;
  padding-bottom: 1%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width:98%;
  max-width: 100%;
  border: 1px solid #ec534d;
}

/*Image Captions using JQuery http://web.enavu.com/tutorials/making-image-captions-using-jquery/ */
div.wrapper{  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;
    margin-left: 2px;
    margin-right: 2px;
    display:none; /* hide it */  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
}  
div.description_content{  
    padding:10px;  
}  
