@CHARSET "UTF-8";
ul{
	list-style: none outside none;
    padding-left: 0;
}
.gallery li {
	display: block;
	float: left;
	height: 100px;
	margin-bottom: 6px;
	margin-right: 6px;
	width: 100px;
}
.gallery li a {
	height: 100px;
	width: 100px;
}
.gallery li a img {
	max-width: 100px;
}

.jqlg-container{
	position: relative;
	display: block;
	max-width: 100%;
	width: 90%;
	padding: 0px 50px;
	margin: 0px auto;
}
.jqlg-copyright{
	position: relative;
	display: block;
	max-width: 100%;
	width: 90%;
	padding: 0px 50px;
	margin: 0px auto;
	clear:both;
}
