.wrapper *,
.wrapper *:after,
.wrapper *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.wrapper {
	position: relative;
	max-width: 100%;
	width: 90%;
	padding: 0 50px;
	margin: 0 auto;
}
/*Pour copier http://tympanus.net/Development/Slicebox/index.html */
.sb-description {
    background: none repeat scroll 0 0 rgba(190, 176, 155, 0.4);
    border-left: 4px solid rgba( 0, 0, 0, 0.7);
    bottom: 10px;
    color: #fff;
    left: 10px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    right: 10px;
    transition: all 200ms ease 0s;
    z-index: 1000;
}
.sb-description h1, .sb-description h2, .sb-description h3, .sb-description h4, .sb-description h5, .sb-description h6, .sb-description p{
	color: #fff;
}

.nav-dots {
    bottom: 9em;
}